<div class="row mt-3">
  <div class="col col-md">
    <h1 class ="display-4 text-center">My Badges</h1>
    <table class="table table-hover text-center mt-3">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Image</th>
        </tr>
      </thead>

      <tbody>
        <%= render @user_badges %>
      <tbody>
    </table>

    <%= link_to "Back", tests_path %>
  </div>
</div>
