<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= image_tag badge.image %></td>
  <td class="align-middle"><%= badge.rule %></td>
  <td class="align-middle"><%= badge.rule_value %></td>
</tr>
