<div class="row mt-3">
  <div class="col col-md">
    <h1 class ="display-4 text-center">All Badges</h1>
    <table class="table table-hover text-center mt-3">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Image</th>
          <th scope="col">Rule</th>
          <th scope="col">Attributes</th>
        </tr>
      </thead>

      <tbody>
        <%= render @badges %>
      <tbody>
    </table>

    <%= link_to "Back", tests_path %>
  </div>
</div>  
