<h2>Gists</h2>
  <table class="table">
    <tr>
      <th>Question</th>
      <th>Url</th>
      <th>User</th>
      <th colspan="1">Delete</th>
    </tr>

  <%= render @gists %>
</table>

<%= link_to "Back", admin_tests_path %>
