<h1>Проект <%= @project %></h1>
<p>Приложение предназначено для создания, управления и выполнения различных тестов.</p>
<p>Моё обучение проходит в онлайн-школе для разработчиков <%= @link_school %> </p>

<%= link_to "Об авторе", about_author_path %>
