<footer>
  <p>Year: <%= current_year %></p>
  <p>Author: Olga Pashkova</p>
  <p><%= github_url('OlyaPash', 'TestGuru') %></p>
  <p>Приложение Test Guru предназначено для создания, управления и выполнения различных тестов.</p>
  <p>Учебный проект в онлайн-школе <a target="_blank" href="https://thinknetica.com/">Thinknetica</a></p>
</footer>
